{% extends '../other/base.html' %}



{% block body1 %}
{% endblock %}



{% block body2 %}
<div style="text-align:center" class="container-fluid padded">
	<div id="div_box" style="text-align:center" class="col-xs-12 text-center">

	{% block bodyInner2 %}
		<p class="lead text-master" style="font-size:30px; padding-top:60px"> Welcome to NeuroMem<p>
		<p class="lead text-master" style="font-size:20px;"> Are you ready to begin?</p>
		<a href="/memorize" class="btn btn-default btn-lg color">Begin</a>
		<div id="div_box"></div>

	{% endblock %}

	</div>
</div>
{% endblock %}




{% block body3 %}
{% endblock %}

